{% extends 'base.html' %}
{% block title %}HOME{% endblock %}
{% block content %}
<script type="text/javascript"> 
    function doit(){
        fetch('https://api.github.com/users/{{user.username}}')
        .then(response => response.json())
        .then(data => console.log(data));
    }

    function test(){
        // follow a user
        console.log("{{res}}");
        
    }
 </script>
    <div class="row">
        <div class="col-sm-12 mb-3">
            <h4 class="text-center">Welcome {{user.username}}</h4>
            {{ data }}
            <button onclick="test()">
                Fetch
            </button>
        </div>
    </div>
{% endblock %}
